body {
    background-color: rgb(235, 184, 126);
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #482513;
}

h1 {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #bc602f;
}

.app-block {
    background: rgb(242, 233, 223);
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 0 30px 30px rgba(209, 101, 51, 0.8);
    border-radius: 30px;
  

}

footer {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #bc602f;
}