body {
    background-color: rgb(235, 184, 126);
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: #482513;
}

a {
    color: inherit;
}

h1 {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #bc602f;
}

.city-form-input {
    background-color: rgb(242, 233, 223);
    border: 1px solid #bc602f;
    border-radius: 25px;
    width: 50%;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(209, 101, 51, 0.8);

    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: #482513;
}

.city-form-button {
    background-color: #bc602f;
    border: 1px solid #bc602f;
    border-radius: 10px;
    width: 14%;
    padding: 5px;
    box-shadow: 0 5px 30px rgba(209, 101, 51, 0.8);
    margin-left: 15px;

    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 14px;
    color: rgb(242, 233, 223);
}

.app-block {
    background: rgb(242, 233, 223);
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    box-shadow: 0 30px 30px rgba(209, 101, 51, 0.8);
    border-radius: 30px;
}

.weatherapp-data {
    display: flex;
    justify-content: space-between;
}

.weather-icon {
    font-size: 50px;
    margin-right: 10px;
}


.temperature-container {
    display: flex;
    margin-right: 15px;
    margin-top: 20px;
}

.temperature-value {
    font-family: "Agbalumo", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: #482513;
}

.temperature-unit {
    font-family: "Agbalumo", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: #482513;
}


footer {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #bc602f;
    text-align: center;
    border-top: 1px solid #bc602f;
    padding: 8px 0 0 0;
}